<div class="col-md-4"></div>
<div class="col-md-4">
    <form class="bootstrap-form-with-validation" th:action="@{/employeeoperation/createdepartment.do}" th:method="post" th:object="${department}" onsubmit="return validateDepartmentAddForm()">
        <h2 class="text-center">Add Department</h2>
        <div class="form-group">
            <label class="control-label" for="departmentname" th:text="#{employeemaster.bodypanel.department.name}">Department Name </label>
            <input class="form-control" type="text" name="text-input" id="departmentname" th:field="*{departmentname}"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="shortform" th:text="#{employeemaster.bodypanel.department.abbriviation}">Department Abbriviation </label>
            <input class="form-control" type="text" name="text-input" id="shortform" th:field="*{departmentabbriviation}"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" th:text="#{employeemaster.bodypanel.department.add}">Submit</button>
        </div>
    </form>
</div>
<div class="col-md-4"></div>



<!-- <form th:action="@{/employeeoperation/createdepartment.do}" th:method="post" th:object="${department}">
    <table>
        <tr>
            <td th:text="#{employeemaster.bodypanel.department.name}">Department Name</td>
            <td><input type="text" th:field="*{departmentname}"/> </td>
        </tr>
        <tr>
            <td th:text="#{employeemaster.bodypanel.department.abbriviation}">Department Abbriviation</td>
            <td><input type="text" th:field="*{departmentabbriviation}"/> </td>
        </tr>
        <tr>
            <td align="right" colspan="2">
                <button type="submit" th:text="#{employeemaster.bodypanel.department.add}">Add Department</button>
            </td>
        </tr>
    </table>
</form> -->