<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div id="body" align="center" th:fragment="loginpage">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p th:if="${loginError}" th:text="${loginError}" class="error">&nbsp;</p>
    <form th:action="@{/login.do}" th:method="post" th:object="${user}">
        <table>
            <tr>
                <td th:text="#{homepage.login.username}">User Name</td>
                <td><input type="text" th:field="*{username}"/></td>
            </tr>
            <tr>
                <td th:text="#{homepage.login.password}">Password</td>
                <td><input type="password" th:field="*{password}" /></td>
            </tr>
            <tr>
                <td align="left"><a th:href="@{/forgotpassword.do}" style="text-decoration: none" th:text="#{homepage.login.forgot_password}"></a> </td>
                <td align="right"><button type="submit" th:text="#{homepage.login.button.caption}"></button> </td>
            </tr>
        </table>
    </form>
</div>
</html>