<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="body" th:fragment="masterpage">
    <div style="border:solid thin black;width: 200px;height:73.2%;position:absolute;left:10px;">
        <table>
            <tr>
                <td><a th:href="@{/leavemanagement/home.do}" th:text="#{welcomepage.masterpanel.homepage}">Home</a> </td>
            </tr>
            <tr>
                <td><a href="#" th:text="#{leavemaster.masterpanel.leavecatagory}" th:onclick="'javascript:openAddCatagoryForm(\'loadleavecatagory.do\')'">Leave Catagory</a> </td>
            </tr>
            <tr>
                <td><a href="#" th:text="#{leavemaster.masterpanel.applyleave}" th:onclick="'javascript:openAddCatagoryForm(\'loademployeeleaveapplication.do\')'">Leave Apply</a> </td>
            </tr>
            <tr>
                <td><a href="#" th:text="#{employeemaster.masterpanel.add}" th:onclick="'javascript:openAddCatagoryForm(\'loademployeeleaveapplication.do\')'">Employee Add</a> </td>
            </tr>
            <tr>
                <td><a href="#" th:text="#{employeemaster.masterpanel.delete}">Employee Delete</a> </td>
            </tr>
            <tr>
                <td><a href="#" th:text="#{employeemaster.masterpanel.update}">Employee Update</a> </td>
            </tr>
            <tr>
                <td><a href="#" th:text="#{employeemaster.masterpanel.search}">Search</a> </td>
            </tr>
            <tr>
                <td><a href="#" th:text="#{welcomepage.masterpanel.logout}">Logout</a> </td>
            </tr>
        </table>
    </div>
    <div style="border:solid thin black;width: 82.59vw; height:100%;position:relative;left:203px;" id="placeholder" align="center">&nbsp;</div>
</div>
</html>